@page "/getJoke"
@using System.Threading
@using IsaacDemo.Pages.ViewModels

@inject HttpClient Http

<div class="container-fluid">

    @if (_vm == null)
    {
        <p>Loading....</p>
    }
    else
    {
        <h1>Your current Joke database contains: @_jokeCount jokes</h1>

        <hr />

        if (_vm.Type == "single")
        {
            <p>@_vm.Joke</p>
        }
        else
        {
            <p class="row">Person A: @_vm.Setup</p>
            <p class="row">Person B: @_vm.Delivery</p>
        }
    }

    <div class="container-fluid">
        <div class="container">
            <button class="btn btn-dark" @onclick="GetAnotherJoke">Get another joke</button>
            <button class="btn btn-warning" @onclick="SaveJoke">Save this joke</button>

            <NavLink href="@("jokes")">
                <button type="button" class="btn btn-warning">Check your jokes</button>
            </NavLink>
        </div>

        <p class="text-success" style="display: @_display">Joke saved!</p>

        <p class="text-danger" style="display: @_display_danger">You have this joke in your DB</p>
    </div>
</div>

@code {
    private int _jokeCount = MyLocalJokeDb.JokeList.Count;

    private string _display = "none";
    private string _display_danger = "none";

    private GoodJokeViewModel _vm;

    protected override async Task OnInitializedAsync()
    {
        await GetGoodJoke();
    }

    async Task GetAnotherJoke()
    {
        await GetGoodJoke();
    }

    private async Task GetGoodJoke()
    {
        _display = "none";
        _display_danger = "none";
        _vm = await Http.GetJsonAsync<GoodJokeViewModel>("https://sv443.net/jokeapi/category/Programming");
    }

    void SaveJoke()
    {
        _display = "none";

        Console.WriteLine("Save joke in progress");

        if (!MyLocalJokeDb.JokeList.ContainsKey(_vm.Id))
        {
            MyLocalJokeDb.JokeList.Add(_vm.Id, _vm);

            Console.WriteLine("Joke saved");
            _display = "block";
            _display_danger = "none";

            _jokeCount = MyLocalJokeDb.JokeList.Count;
        }
        else
        {
            Console.WriteLine($"Joke with id {_vm.Id} already in dictionary");
            _display = "none";
            _display_danger = "block";
        }
    }
}
