@page "/jokes"

<h3>Joke List</h3>

@if (MyJokes == null)
{
    <p>Loading your awesome joke database...</p>
}
else if (MyJokes.Count == 0)
{
    <p>Your joke database is empty</p>
}
else
{

    <MyCustomComponents.CustomListComponent MyJokes="MyJokes" RemoveOnClick="RemoveJoke" ShowActionButtons="true"/>

    @*<h1>Your joke count: @_jokeCount</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Joke</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GoodJokeViewModel joke in MyJokes)
            {
                <tr>
                    <th scope="row">@joke.Id</th>
                    <td scope="row">@joke.Category</td>
                    <td scope="row">@joke.Type</td>
                    <td scope="row">@(joke.Type == "single" ? joke.Joke : $"A --> {joke.Setup} B --> {joke.Delivery}")</td>
                    <td scope="row">

                        <NavLink href="@($"jokeDetails/{joke.Id}")">
                            <button type="button" class="btn btn-block btn-outline-primary">Details</button>
                        </NavLink>

                        <br/>

                        <button class="btn btn-block btn-outline-danger" @onclick="(() => RemoveJoke(joke.Id))">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
}

@code {

    public List<GoodJokeViewModel> MyJokes = new List<GoodJokeViewModel>();

    private int _jokeCount = 0;

    protected override async Task OnInitializedAsync()
    {
        MyJokes = MyLocalJokeDb.JokeList.Select(x => x.Value).OrderBy(x => x.Id).ToList();
        _jokeCount = MyJokes.Count;
    }

    public void RemoveJoke(int id)
    {
        GoodJokeViewModel jokeToRemove = MyLocalJokeDb.JokeList.First(x => x.Key == id).Value;
        MyJokes.Remove(jokeToRemove);
        MyLocalJokeDb.JokeList.Remove(id);
        _jokeCount = MyJokes.Count;
    }
}
